.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--desktop {
    width: 100%;
}

.header--you {
    width: 91% !important;
}

.header__img {
    width: 2.3rem;
}

.header__you {
    padding: 0.15rem 0.3rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    color: var(--white);
    background-color: var(--moderate-blue);
    text-transform: lowercase;
    margin-left: 0.5rem;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__container *:not(:last-child) {
    margin-right: 0.9rem;
}

.header__btnContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    width: 4.2rem;
}

.header__btn * {
    color: var(--moderate-blue);
}

.header__btn:hover {
    opacity: 0.4;
    cursor: pointer;
}

.header__btnTxt {
    padding-left: 0.5rem;
}

.header__deleteTxt {
    color: var(--soft-red);
}