.comment--desktop {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.comment__content {
    width: 90%;
}