.body,
.body__input {
    margin-top: 1rem;
    margin-bottom: 0;
}

.body__addressee {
    color: var(--moderate-blue);
}

.body__update {
    height: 2.5rem;
    width: 6rem;
    background-color: var(--moderate-blue);
    border: none;
    border-radius: 0.6rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: var(--font-500);
    font-size: 0.8rem;
    float: right;
}
